@import "./index";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  color: $third-color;
}

footer {
  font-size: 0.75em;
}

.invalid {
  cursor: not-allowed !important;
}